* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center {
    width: 60%;
    height: 80%;
    position: relative;
}
.imgContainer {
    position: absolute;
    background-color: blue;
    width: 0%;
    height: 100%;
    overflow: hidden;
}
.imgContainer img {
    height: 100%;
}
#text {
    position: absolute;
    top: -12%;
    left: 270px;
    width: 250px;
    height: 60px;
    overflow: hidden;
    z-index: 1;
}
#text h1 {
    position: absolute;
    left: -250px;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#blue {
    color: rgb(81, 131, 240);
}
#brown {
    color: rgba(167, 77, 18, 0.952);
}
#green {
    color: rgba(14, 182, 42, 0.822);
}