* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center {
    width: 30%;
    height: 90%;
    /* background-color: blueviolet; */
    position: relative;

}
.imgContainer {
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: absolute;
    background-color: black;
}
.imgContainer img {
    width: 100%;
}
#text {
    width: 265px;
    height: 70px;
    /* background-color: blue; */
    position: absolute;
    bottom: 10%;
    left: -10%;
    overflow: hidden;
}
#text h1 {
    font-size: 4vw;
    position: absolute;
    color: white;
    top: 60px;
}

